li  
    list-style: none


.Thumbs_list
    display: grid
    margin: 43px 100px 43px 100px
    padding: 50px
    border-radius: 10px
    width: auto
    grid-template-columns: repeat(auto-fill, 340px)
    grid-template-rows: repeat(auto-fill, 340px)
    gap: 60px
    justify-content: center
    background-color: #F6F6F6
