.footer
    width: 100%
    background-color: black
    color: white
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    font-size: 24px
    padding-top: 66px
    padding-bottom: 30px
    justify-self: flex-end
    & img
        width: 122px
