.galerie
    position: relative
    margin: auto
    width: 100%
    height: 255px
    border-radius: 25px
    overflow: hidden
    &_fleche
        &_gauche
            cursor: pointer
            position: absolute
            left: 10px
            top: 50%
            transform: rotateZ(-90deg) translateX(50%)
            background-color: rgba(0,0,0,.1)
            padding: 5px
            border-radius: 5px
            width: 18px
        &_droite
            cursor: pointer
            position: absolute
            right: 10px
            top: 50%
            transform: rotateZ(90deg) translateX(-50%)
            background-color: rgba(0,0,0,.1)
            padding: 5px
            border-radius: 5px
            width: 18px
    &_image
        width: 100%
        object-fit: cover
        height: 255px
    &_count
        font-size: 18px
        color: white
        position: absolute
        bottom: 10px
        left: 50%
        transform: translateX(-50%)
        background-color: rgba(0,0,0,.2 )
        border-radius: 10px
        padding: 5px 10px

@media (min-width: 650px)
    .galerie
        height: 415px
        &_fleche
            &_gauche
                left: 25px
                width: 48px
            &_droite
                right: 25px
                width: 48px
        &_image
            height: 415px
        &_count
            font-size: 24px